<html>
  <head>
    <meta charset="utf-8" />
    <title>Login :: {{siteName}}</title>
  </head>
  <body>
    <h1>Login</h1>
    <hr />
    {{if message.length > 0}}
      <span style="color: red">{{message}}</span>
    {{/if}}
    <form action="" method="POST">
      <label for="username">User name: </label>
      <input name="username" id="username" required />
      <br />

      <label for="password">Password: </label>
      <input type="password" name="password" id="password" required />
      <br />

      <input type="submit" value="Login" />
    </form>
    <hr />
    <p>Powered by Zenfinger</p>
  </body>
</html>
